body {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    margin: 0px;
    .App {
        .AppBar {
            height: 5.5rem;
            background-color: transparent;
            border-bottom: 1px solid gray;
            .myComponent {
                height: 3.5rem;
                .searchBtn {
                    button {
                        svg {
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
            }
            
        }
    }
    .TopSection {
        background-image: linear-gradient(#ffd1954f, #fbc95400);
        .avatar {
            span {
                margin: auto !important;
                border: 5px solid white !important;
            }
        }
        .description {
            text-transform: uppercase;
            color: rgb(104, 104, 104);
            font-size: 1.2rem;
            font-weight: 500;
        }
        .name {
            color: black;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .TagCollection {
        background-color: transparent;
        .content {
            flex-wrap: wrap;
            justify-content: center;
        }
        .detail {
            justify-content: center;
            p {
                color: rgb(58, 58, 58);
                font-size: 1.2rem;
            }
        }
        .tag {
            cursor: pointer;
            min-width: -moz-fit-content;
            min-width: fit-content;
            margin: 0.3rem 0.5rem;
            padding: 0.3rem 0.5rem;
            border-radius: 1rem;
            border: 1px solid rgb(216, 216, 216);
            background-color: rgb(255, 255, 255);
            span {
                text-align: center;
                font-size: 0.9rem;
                color: rgb(100, 100, 100);
            }
        }
        .divider {
            width: 20rem;
            padding: 0px;
            padding-bottom: 1rem;
            border-top: 1px solid rgb(200, 200, 200);
        }
    }
    .FactPanel {
        background: transparent;
        .FactGroup {
            padding-bottom: 1rem;
            .topic {
                background: rgb(201, 201, 201);
                color: black;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 0.5rem 0.3rem;
            }
            .FactItem {
                .divider {
                    padding-top: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: 5px solid rgb(230, 230, 230);
                }
                .fact {
                    .date {
                        p {
                            color: gray;
                            font-size: 0.9rem;
                            margin-bottom: 0px;
                        }
                    }
                    .content {
                        p.context {
                            color: rgb(50, 50, 50);
                            font-size: 1rem;
                        }
                        .blockquote {
                            position: relative;
                            .quoteMark {
                                position: absolute;
                                left: -30px;
                                width: 10px;
                                height: 100%;
                                background: #e3e3e3;
                            }
                            p {
                                line-height: 2rem;
                                color: rgb(50, 50, 50);
                                font-size: 1.1rem;
                            }
                        }
                    }
                    .tags {
                        p {
                            color: gray;
                        }
                    }
                    .links {
                        a {
                            margin-right: 0px;
                            &:first-child {
                                margin-right: 1rem;
                            }
                            color: gray;
                            font-size: 0.9rem;
                            text-decoration: none;
                        }
                    }
                }
            }
            .separator {
                margin: auto;
                width: 5rem;
                height: 1rem;
                border-top: 10px solid rgb(235, 235, 235);
            }
        }
        
    }
    .Footer {
        background-image: linear-gradient(#ffd1954f, #fbc95400);
        padding: 3rem 0rem 2rem 0rem;
        .divider {
            margin: auto;
            height: 1rem;
            padding-bottom: 2rem;
            border-top: 10px solid rgb(230, 230, 230);
        }
        .contact {
            margin-left: 5rem;
            .description {
                padding-bottom: 1rem;
                span {
                    color: gray;
                    svg {
                        color: gray;
                        width: 20px;
                        height: 20px;
                    }
                }
                p {
                    margin: 0.3rem 0rem;
                    color: rgb(50, 50, 50);
                    a {
                        color: rgb(50, 50, 50);
                    }
                }
            }
        }
    }
}

// common my css
.myComponent {
    max-width: 900px;
    padding: 1rem;
}
.myFlex {
    display: flex;
}
.myRow {
    margin-right: 0px;
    margin-left: 0px;
}
.myCenter {
    margin: auto;
}
.myLeft {
    margin: auto;
    margin-left: 0px;
}
.myRight {
    margin: auto;
    margin-right: 0px;
}
.myBottom {
    margin: auto;
    margin-bottom: 0px;
}
.myTop {
    margin: auto;
    margin-top: 0px;
}
.myWidth {
    width: 100%;
}
.myHeight {
    height: 100%;
}
.myFull {
    width: 100%;
    height: 100%;
}
.myPadding {
    padding: 0.5rem 0rem;
}